.card-columns {column-count: 4;}

.bg-light nav:nth-child(1) {
    background: linear-gradient(to right, #ffdc60, #ffff1cd0);
  }

  .navbar-dark .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.8);
  }

  footer {
    background: linear-gradient(to right, #ffff1cd0, #ffdc60);
  }

  .bg-light {
    background: linear-gradient(to bottom right, #00c3ff, #ffff1c) no-repeat;
  }

  .card {
    border-radius: 20px !important;
  }

  .card-deck .card {
    border-radius: 20px !important;
  }

  /* 把没铺满的页面铺满 */
  .listcontent {
    height: 1000px;
    padding-bottom: 100%;
  }

  .newsblog {
    /* transition: 0.25s all ease-in-out; */
    --progress: 0;
    transform: scale(calc(1.8 - (0.8 * var(--progress)))) translateY(calc(-60px * (1 - var(--progress))));
    opacity: var(--progress);
  }

  .logo:hover {
    transform: rotateZ(360deg);
    transition: all 1s;
  }